<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/main.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'fontawesomefree/css/all.css' %}"
      type="text/css"
    />
    <title>Bryson Steck</title>
  </head>

  <body class="view bg-dark text-light">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-9">
          <p>Welcome! It is currently {{current_datetime}} (MST)</p>
          <h1><i class="fa-solid fa-id-badge"></i>&ensp;About Me</h1>
          <hr />
          <p>
            Hello! My name is Bryson Steck. I am currently a Senior Computer Science Bachelors Student in Utah. Some people notably find me funny, easy to work with, and very addicted to dill pickles.
          </p>
          <a href="/"><button type="button" class="mt-1 mb-1 btn btn-danger">Contact</button></a>
          <br />
          <br />
          <h2>Skills</h2>
          <div class="row">
            <div class="col-sm-6">
              <p><b>Languages</b></p>
              <ul>
                <li>Java</li>
                <li>Python</li>
                <li>C/C++</li>
                <li>HTML/CSS/Javascript</li>
                <li>Bash</li>
                <li>... and more!</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <p><b>Other</b></p>
              <ul>
                <li>Linux (Any Distro)/macOS/Windows</li>
                <li>Version Management with Git</li>
                <li>Object Oriented Programming</li>
                <li>Web Development</li>
                <li>Team Player and Self-Starter</li>
                <li>... and more!</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 p-4">
          <img class="rounded-circle img-fluid img-circle" src="{% static 'blog/bryson.jpg' %}">
          <h4><br />Bryson Steck</h4>
          <a href="/"><button type="button" class="mt-1 mb-1 btn btn-primary w-100"><i class="fa-solid fa-address-book"></i>&ensp;Blog</button></a>
          <a href="/about"><button type="button" class="mt-1 mb-1 btn btn-success w-100"><i class="fa-solid fa-user"></i>&ensp;About Me</button></a>
          <a href="/projects"><button type="button" class="mt-1 mb-1 btn btn-warning w-100 text-white"><i class="fa-solid fa-code"></i>&ensp;Projects</button></a>
          <a href="/contact"><button type="button" class="mt-1 mb-1 btn btn-danger w-100"><i class="fa-solid fa-envelope-circle-check"></i>&ensp;Contact</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
