<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap.css' %}"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Main page</title>
  </head>

  <body class="view">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-8">
          <a href="../../"><button type="button" class="mb-3 btn btn-dark">Return to Home Page</button></a>
          <p>Welcome! It is currently {{current_datetime}}</p>

          {% if all_blogs %} {% for post in all_blogs %}
          <a class="text-decoration-none" href="../post/{{ post.id }}/">
          <div class="rounded-3 p-3 mb-4 bg-primary bg-gradient border-primary text-white-50">
          <h2 class="text-white">
              {{ post.title }}
          </h2>
          <h5>Written by {{ post.author }} on {{ post.posted }}</h5>
          <hr />
          <p>{{ post.text_rendered | safe | truncatewords:100 }}</p>
          </div>
          </a>
          {% endfor %} {% else %}
          <h1>There are no recent blog posts.</h1>
          {% endif %}

        </div>
        <div class="col-sm-4 p-4">
          <img class="rounded-circle img-fluid img-circle" src="{% static 'blog/obama.jpg' %}">
          <h4>Links</h4>
          <button type="button" class="mt-1 mb-1 btn btn-primary w-100">Blog</button>
          <button type="button" class="mt-1 mb-1 btn btn-success w-100">About Me</button>
          <button type="button" class="mt-1 mb-1 btn btn-warning w-100">Projects</button>
        </div>
      </div>
    </div>
  </body>
</html>
