<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/main.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'fontawesomefree/css/all.css' %}"
      type="text/css"
    />
    <title>Bryson Steck</title>
  </head>

  <body class="view bg-dark text-light">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-9">
          <p>Welcome! It is currently {{current_datetime}} (MST)</p>
          <div class="row">
            <div class="col-sm-2">
              {% with img_file="projects/images/"|add:project_img %}
              <img
                src="{% static img_file %}"
                class="img-fluid rounded-circle"
                alt="{{ project.title |add:" icon" }}"
              />
              {% endwith %}
            </div>
            <div class="col-sm-10">
              <h1>{{ project.title }}</h1>
              <p>{{ project.overview }}<p>
            </div>
          </div>
          <hr />
          <p>
            {{ project.text_rendered | safe }}
          </p>
        </div>
        <div class="col-sm-3 p-4">
          <img class="rounded-circle img-fluid img-circle" src="{% static 'blog/bryson.jpg' %}">
          <h4><br />Bryson Steck</h4>
          <a href="/"><button type="button" class="mt-1 mb-1 btn btn-primary w-100"><i class="fa-solid fa-address-book"></i>&ensp;Blog</button></a>
          <a href="/about"><button type="button" class="mt-1 mb-1 btn btn-success w-100"><i class="fa-solid fa-user"></i>&ensp;About Me</button></a>
          <a href="/projects"><button type="button" class="mt-1 mb-1 btn btn-warning w-100 text-white"><i class="fa-solid fa-code"></i>&ensp;Projects</button></a>
          <a href="/contact"><button type="button" class="mt-1 mb-1 btn btn-danger w-100"><i class="fa-solid fa-envelope-circle-check"></i>&ensp;Contact</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
